<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="newlogo.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vechileblackbox</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='about.css')}}" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="container">
        <h2 class="logo">SLYTHERIN</h2>
        <nav>
          <ul>
            <a href="main.html"><li class="active">HOME</li></a>
          </ul>
        </nav>
      </div>
      <div class="content">
        <h1>ABOUT US</h1>
        <p>
          VEHICLE BLACKBOX IS A DRIVING BEHAVIOR MONITORING DEVICE, DESIGNED TO
          KEEP A CHECK ON RASH DRIVING, THUS ENSURING SAFETY ON THE ROAD.<br />
          <br />
          A BLACK BOX IN A AIRCRAFT IS A FLIGHT DATA RECORDER THAT MUST BE IN
          EVERY AIR VEHICLE. ALL FLIGHT INFORMATION IS RECORDED INTO THE BLACK
          BOX WITH A SPECIFIC ALGORITHM,THIS IDEA GOING TO BE EXECUTED AMONG THE
          CARS/AUTOMOBILE.<br />
          <br />
          IT ALSO HAVE SOME SPECIFIC ALGORITHM TO DETECT THE STATE OF THE DRIVER
          USING SENSORS,ARTIFICIAL INTELLIGENCE(FACE RECOGNITION) AND RASPBERRY
          PI.
        </p>
      </div>
    </div>
  </body>
</html>
