<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='electrical.css')}}" >
    <title>Document</title>

</head>

<body>
    <div class="banner">
        <div class="navbar">
            <h1>SLYTHERIN</h1>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/nav2log">Login</a></li>

                
                
            </ul>
        </div>

        <div class="content">
          <h1 class="services">ELECTRICAL PRODUCTS</h1>
        </div>
        <br>
        <hr >
        <br>
        <br>
        <nav class="col">
          <a href="/navgas">  
          <div class="card1 card">
                <h3>Gas Detection</h3>
                <br>
                                                                                 
            </div>
          </a>
          <a href="/navalc"><div class="card2 card">
                <h3>Alcohol Detection</h3>
                <br> 
                                                                                  
            </div> </a>
            <a href="/navfire">
            <div class="card3 card">
                <h3>Fire Detection</h3>
                <br>
                                                                                  
            </div></a>
          
            </nav>
            
        </div>
    </div>
</body>
</html>