<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vehicle blackbox</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='logreg.css')}}" >

</head>
<body>
    <div class="banner">
        <div class="wrapper">
            <div class="form-box login">
                <h2>Login</h2>
                <form action="/log" method="post">
                    <div class="input-box">
                        <input type="email" name="em_log" required>
                        <label>Email</label>
                        <h3>{{alert}}</h3>
                    </div>
                    <div class="input-box">
                        <input type="password" name="pw_log"required>
                        <label>Password</label>
                        <h3>{{pwalert}}</h3>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">Remember Me</label><a class="Forgot"href="#">Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="login-register">
                        <p>Don't have an account?<p></p><a href="#" class="register-link">Register</a></p>
                    </div>
                </form>
            </div>
            <div class="form-box register">
                <h2>Registeration</h2>
                <form action="/reg" method="post">
                    <div class="input-box">
                        <input type="text" name="nm_reg" required>
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <input type="text" name="em_reg"required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <input type="password" name="pw_reg"required>
                        <label>Password</label>
                    </div>

                    <div class="remember-forgot">
                        <label><input type="checkbox">Remember Me</label><a class="Forgot"href="#">Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn">Register</button>
                    <div class="login-register">
                        <p>Have an account?<p></p><a href="#" class="login-link">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="static/js/login.js"></script>
</body>
</html>