<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="newlogo.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css')}}" >
    <title>vehicleblackbox</title>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <h2 class="logo">SLYTHERIN</h2>
            <nav>
                <ul>
                    <a href="#"><li class="active">HOME</li></a>
                    <a href="#"><li>ABOUT</li></a>
                    <a href="#"> <li>SERVICE</li></a>
                    <a href="#"><li>PRODUCTS</li></a>
                    <li>CONTACT</li>
                    <a href="#"><li><button class="btn1">GET IN TOUCH</button></li></a>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h3>LOGISTIC SERVICES</h3>
            <h1>VEHICLE<br>BLACK BOX</h1>
            <p>YOU CAN'T GET HOME UNLESS YOU ARE SAFE...</p>
            <br>
            <a href="/nav2log"><li><button class="btn1">LOGIN</button></li></a>
            <p id="pol" class="hidden">OUR POLICY IS BEING HELPFUL TO YOU AND YOUR FAMILY</p>
        </div>
    </div>
</body>
</html>