<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='products.css')}}" >
    <title>Document</title>
</head>

<style>






</style>
<body>
    <div class="banner">
        <div class="navbar">
            <h1>SLYTHERIN</h1>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/nav2log">Login</a></li>
                <li><a href="/community">BLOG</a></li>
                
                
            </ul>
        </div>

        <div class="content">
          <h1 class="services">PRODUCTS</h1>
        </div>
        <br>
        <hr >
        <br>
        <br>
        <nav class="col">
          <a href="/nav2aiprod"><div class="card1 card">
                <h3>AI Products</h3>
                <br>

            </div></a>

            <a href="/nav2sos"><div class="card2 card">
                <h3>Emergency Products</h3>
                <br> 
                
            </div></a> 
            <a href="nav2elec">
            <div class="card3 card">
                <h3>Electrical Products</h3>
                <br>
                
            </div>
          </a>
            </nav>
            
        </div>
    </div>
</body>
</html>