<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vehicle black box</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='soln.css')}}" />
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <h1>Vehicle black box</h1>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </div>
      <div class="wrapper">
        <div class="form-box login">
          <h2>Solution</h2>
          <form action="/soladd/{{slid}}" method="post">
            <div class="input-box">
              <textarea cols="30" rows="10" name="soln"></textarea>
            </div>

            <button type="submit" class="btn">Add Solution</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
